.speedDail {
    position: fixed;
    right: 3rem;
    top: 5rem;
}

.speedDialIcon {
    width: 60px;
    /* height: 60px; */

    border-radius: 100%;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .speedDail {
        top: 1rem;
        right: 1rem;
    }
}
